.Home {
    background-image: linear-gradient(to bottom,#1E3E62, #433878); /* Light background color for the whole page */
    margin-top: 60px;
   
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: hidden;
}

.topbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(#6439FF, #4F75FF);
    display: flex;
    justify-content: space-between; /* Spread out the content */
    align-items: center; /* Vertically align items */
    padding: 0 20px; /* Padding for some space on both sides */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure header is centered */
.topbar h3 {
    margin-top: 20px;
    flex-grow: 1; /* Take up remaining space */
    text-align: center; /* Center the text */
    
}

/* Flexbox for the links */
.topbar-links {
    display: flex;
    gap: 10px; /* Space between the two buttons */
    padding-right: 10px; /* Optional: Extra space to the right of buttons */
}

/* Button styling (optional) */
.topbar-links .btn {
    padding: 8px 15px;
    border-radius: 5px; /* Slightly rounded corners */
}

.table {
    margin-top: 20px;
    width: 100%;
    max-width: 100%; /* Ensure table does not overflow */
    background-color: white; /* Table background color */
    border-radius: 8px; /* Rounded corners for the table */
    overflow: hidden; /* Clip off the corners of the table */
}

.table thead {
    background-color: #343a40; /* Dark background for the table header */
    color: white; /* White text color for the header */
}

.table th, .table td {
    text-align: center; /* Center text in table cells */
    vertical-align: middle; /* Vertically center text */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Alternating row colors for readability */
}

.table-bordered {
    border: 1px solid #dee2e6; /* Light border for the table */
}

.table-responsive {
    overflow-x: auto; /* Enable horizontal scroll if table is too wide */
    margin-top: 20px;
}

.btn-info, .btn-warning, .btn-danger {
    margin: 0 2px; /* Space buttons slightly apart */
    background-color: #232D3F;
    color: white;
    border-color: #232D3F;
}

.btn-secondary{
    background-color: #433878 !important;
}

.search-container {
    justify-content: start; /* Aligns the search bar to the right */
    padding: 10px;
  }
  
  .search-bar {
    width: 250px; /* Adjust the width as per your need */
  }
  
  