.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    padding: 2%;
    width: 20vw;
    height: 45vh;
    border-radius: 10px;
}

.Header {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #433878;
}
body{
    overflow: hidden;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    
}

input{
    display: flex;
    align-items: center;
    background: #eaeaea;
    
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    
}
.buttons button{
    width: 500px;
    border-radius: 20px;
}