.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 20vw;
    border-radius: 10px;
    min-height: 50vh; /* Container's content height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional box shadow for better visuals */
}

.Header {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #433878;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
}
